requirements.txt
*.pyc
AGENTS.md
opencode.jsonc
0.3.0.md

auth/
__pycache__/
log/
db/
auth/
cfg/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.cortexkit/
.agents
0.3.0/
integrations/*
docs/*

close.png
closeWindow.png
hide.png
logout.png